.cart {
    flex: 1;
    margin-left: 17rem;
    margin-right: 17rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 12px;
    user-select: none;
    background-color: rgb(255, 235, 242);
    padding: 1rem;
}

.cart p {
    margin: 0;
}

.cartTitle {
    font-weight: 800;
    font-size: 1.5rem;
    color: rgb(68, 68, 68);
    height: 3rem;
}

.emptySentence {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.cartTotalContainer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    padding-top: 0.4rem;
    padding-left: 24.3rem;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.cartTotalCost {
    margin-left: 8.2rem !important;
}

.enterCode {
    font-size: 0.8rem;
    font-weight: 700;
}

.codeContainer {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.codeInput {
    border: 1px solid black;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 14.6rem;
    background-color: #f6f6f6;
    padding-left: 0.5rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.codeInput:focus {
    outline: none;
}

.codeBtn {
    border: none;
    background-color: black;
    color: #f6f6f6;
    cursor: pointer;
    width: 9rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.checkoutInfoContainer {
    width: 24.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    color: rgb(87, 86, 86);
}

.estTotal {
    font-weight: 600;
    margin-top: 0.5rem;
    color: black;
}

.checkoutBtn {
    height: 2.5rem;
    margin-top: 1rem;
    border-radius: 6px;
}