.filterContainer {
    display: flex;
    flex-direction: column;
}

.filterFeature {
    display: flex;
    flex-direction: row;
    user-select: none;
    align-self: flex-end;
    cursor: pointer;
}

.filter {
    color: rgb(112, 111, 111);
    font-size: 14px;
}

.filterOpenIcon {
    align-self: center;
    color: rgb(112, 111, 111);
    font-size: 1.1rem;
    padding-top: 0.1rem;
}

.dropdown {
    background-color: white;
    width: 9rem;
    border-radius: 4px;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    padding-top: 0.6rem;
    padding-bottom: 0.3rem;
    font-size: 14px;
    font-weight: 300;
    z-index: 1;
}

.typeCheckbox {
    margin-bottom: 0.2rem;
    user-select: none;
}

.typeCheckbox > input {
    margin-right: 0.3rem;
    cursor: pointer;
}

.typeCheckbox > label {
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

.checkBlank {
    font-size: 1.1rem;
    color: gray;
}