.productGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.7rem;
    justify-content: center;
    padding-left: 17rem;
    padding-right: 17rem;
    margin-top: 1.6rem;
}