.productPage {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 17rem;
    margin-right: 17rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 12px;
    border-top: 5rem solid #f6f6f6;
    border-bottom: 5rem solid #f6f6f6;
    background-color: rgb(255, 235, 242);
    user-select: none;
}

.productPage img {
    width: 15rem;
    margin-left: 2rem;
}

.productText {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 2rem;
    height: 10rem;
    padding-top: 5rem;
}

.productText h2 {
    margin: 0rem;
    margin-bottom: 0.5rem;
}

.productText p {
    margin: 0rem;
    margin-bottom: 0.7rem;
}

.quantity {
    font-size: 0.9rem;
    width: 3.5rem;
    height: 2rem;
    border: none;
    border-radius: 4px;
    padding-left: 0.4rem;
    padding-right: 0.37rem;
    margin-bottom: 1rem;
}

.quantity:focus {
    outline: none;
}

.productLiters {
    margin-left: 1rem;
    color: rgb(0, 150, 0);
}

.price {
    font-weight: 600;
    margin-left: 2rem;
}

.addContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addContainer div {
    font-size: 1.2rem;
}

.addBtn {
    font-size: 0.9rem;
    text-align: center;
    border: none;
    background-color: black;
    color: rgb(255, 235, 242);
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 3rem;
}

.addBtn:active {
    transform: scale(0.95);
}